/* .card{
    width: 100px;
    height: 100px;
    background-color: azure;
    border: 1px solid #000;
    margin: 1px;
    line-height: 50px;
    text-align: center;
} */

.card-image{
  height: 80%;
  width: 80%;
  margin-top: 10%;
}

.pointer{
    cursor: pointer;
}


/* Based on https://codepen.io/shayhowe/pen/Fvjnf */

.card-container {
    height: 80%;
    width: 70%;
    perspective: 600;
    position: relative;
    
  }

  .card {
    height: 85%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    width: 85%;
  }

  .flip {
    transform: rotateY(180deg);
  }
  
  .card .side {
    background: #eaeaed;
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
  }
  .card .back {
    background: #eaeaed;
    color: #0087cc;
    text-align: center;
    transform: rotateY(180deg);
  }

.matched{
    background: gold;
    border-radius: 6px;
    height: 100%;
    width: 100%;

  }