/* .card{
    width: 100px;
    height: 100px;
    background-color: azure;
    border: 1px solid #000;
    margin: 1px;
    line-height: 50px;
    text-align: center;
} */

.card-image{
  max-width: 100%;
  margin-top: 5%;
  max-height: 87%
}

.pointer{
    cursor: pointer;
}


/* Based on https://codepen.io/shayhowe/pen/Fvjnf */

.card-container {
    height: 80%;
    width: 60%;
    perspective: 600;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }

  .flip {
    transform: rotateY(180deg);
  }
  
  .card .side {
    background: #eaeaed;
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
  }
  .card .back {
    background: #eaeaed;
    color: #0087cc;
    text-align: center;
    transform: rotateY(180deg);
  }

.matched{
    background:  rgba(179, 104, 12, 0.61);;
    border-radius: 6px;
    height: 100%;
    width: 100%;

  }