/* html{
    background-image: url('/img/firefly.png');
    background-repeat: no-repeat; 
    background-size: cover;
} */

.welcome-container{
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    transition: opacity 1s ease-in-out;
  }

  .transparent{
      opacity: 0;
  }